<h1>Here is a list of all Squads</h1>
#if($squads)
<ul>
    #foreach ($squad in $squads)
    <li><a href="/squads/$squad.getId()">$squad.getName()</a></li>
    #end
</ul>
#else
<h3>No Squads created yet!</h3>
#end
<a href="/squads/new">Add New Squad of you Choice</a>