<h1>Add a new squad for your heroes</h1>

<p>Fill in the form to add your squad </p>

<form action="/squads" method="post">
    <label for="name">Squad name</label>
    <input id="name" name="name" type="text">
    <button type="submit" class="btn btn-success">Add Squad</button>
</form>